<script src="/socket.io/socket.io.js"></script>
<script src="/js/user.js"></script>
<html>
<body>
  <input type="hidden" id="user_session_id" value="<%= a %>" />
  <div id="device" style="font-size: 45px;">About page</div>
  <a href="/about">About</a>
  <br />
  <a href="/">Home</a>
</body>
</html>