<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/admin.js"></script>
<html>
<body>
  <h1>Admin Panel</h1>
  <div id="panel" style="font-size: 45px;">
      
  </div>
  
</body>
</html>